*{
    margin: 0;
    padding: 0;
    
}

header{
    background-color: #d8c3a5;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 10vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header img{
    width: 7vw;
    height: auto;
}

header nav ul{
    display: flex;
    list-style: none;
    font-size: 1.3em;
    font-weight: 700;
}

header nav ul li{
    margin: 0 0.5vw;
    /* color: #8e8d8a; */
    color: whitesmoke;
}

header a{
    text-decoration: none;
}

footer{
    background-color: #e85a4f;
    display: grid;
    grid-template-columns: 5vw 5vw auto;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.05em;
    color: maroon;
    padding: 0.9vh 1vw;
    
}

footer #title{
    font-size: 1.3em;
}

footer img{
    width: 5vw;
    height: auto;
}

footer .icon a{
    text-decoration: none;
}

footer .contact-us, footer .contact-us div{
    text-align: center;
    justify-self: center;
}

footer .icon a img{
    width: 1.5vw;
}

.error-p{
    color: #e85a4f;
}

.content{
    background-color: #eae7dc;
}

.content #about{
    padding: 5vh 11vw;
}

.content #about p{
    font-size: 3em;
}

.content #about .desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10vh;
    font-size: 2vw;
    text-align: center;
    color: darkgoldenrod;
}

.content #about .about-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    color: saddlebrown;
    text-align: left;
    text-decoration: underline #8e8d8a;
}

.content #news{
    background-color: #e98074;
    padding: 5vh 11vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* background-color: #f0ebf4; */
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dbutton{
    background-color: transparent;
    border: none;
}
li{
    font-size: 1.4vw;
    overflow: hidden;
    text-decoration: none;
}
hr{
    color: white;
    
}
.dcontent{
    display: none;
    position: absolute;
    z-index: 1;
    
    background-color: #d8c3a5;
}

.dropdown:hover .dcontent{
    display: block;
}

.point {
    cursor: pointer;
    height: 1vw;
    width: 1vw;

    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
  
.content #news .news-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    margin-top: 1vw;
    margin-bottom: 1vw;   
    color: whitesmoke;
    text-decoration: underline #c00000;
}

.image-slider {
    width: 30vw;
    display: flex;
    overflow: hidden;
}
  
.image-slider > .image-slide > img {
    object-fit: cover;
}

.content #news .leftimage, .content #news .rightimage{
    width: 30vw;
}

.content #news .centerimage{
    width: 30vw;
}
.active, .dot:hover {
    background-color: #717171;
}